.contaner {
  padding: 10px;
  font-weight: bold;
  color: black;
}
h2 {
    text-align: center;
  color: green;
}
.contaner1 {
    padding: 10px;
  font-weight: bold;
  color: blue;
}
.ul1 {
    color: black;
}
#bold2 {
    font-weight: bold;
    color: aqua;
}
p {
    color: blue;
    font-size: 16px;
}
#bold1 {
    font-weight: bold;
}
#title {
  text-align: center;  
  color: red;
}