div {
    background-color: aqua;
  width: 200px;
  height: 200px;
  margin: 5px;
  border: 3px, solid black;
  border-radius: 25px;
}
div {
    background-color: gray;
  width: 210px;
  height: 210px;
  margin: 10px;
  border: 3px, solid green;
  border-radius: 30px;
}
div {
    background-color: yellowgreen;
  width: 220px;
  height: 220px;
  margin: 15px;
  border: 3px, solid brown;
  border-radius: 40px;
}
body {
    background-image: url();
    width: 500px;
    height: 500px;
    align-items: center;
}
h1 {
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-aling: center;
}
h2 {
    font-aling: right;
  padding: 15px;
}
p {
    font-size: 18px;
}