.static-element {
  position: static;
  width: 200px;
  height: 100px;
  margin: 10px;
  background-color: lightblue;
}
.relative-element {
  position: relative;
  top: 60px;
  left: 30px;
  background-color: lightcoral;
}
.container {
  position: relative;

}
.absolute-element {
  position: absolute;
  background-color: lightgreen;
  height: 60px;
  font-size: 36px;
  top: 300px;
  left: 500px;
}
.fixed-element {
  position: fixed;
  bottom: 30px;
  right: 50px;
  background-color: blueviolet;
}
.container1 {
  height: 50px;
}
h1, h2, h3 {
  position: sticky;
  top: 100px;
  background-color: rgb(0, 179, 255);
  padding: 10px;
  border: 1px solid #5aeb25;
}
.container1 {
  position: sticky;
  top: 10px;
  background-color: aqua;
  padding: 10px;
  border: 1px solid #ccc;
}
.container2 {
  width: 600px;
  margin: 0 auto;
  font-family: arial, sans-serif;
}
.container3 {
  position: static;
  background-color: lightgreen;
  width: 400px;
  height: 800px;
}
.float-left {
  float: left;
  margin: 15px;
}
p {
  text-align: justify;
}